
a{
    text-decoration:none !important;
}
.heading {
    color: #fa8231;
    font-weight: 700;
    font-family: "Inter var", sans-serif;
    margin-left: 100px;
}
.logo {
    width: 60px;
    height: auto;
}
.internship {
    margin: auto;
    width: 40%;
    margin-top: 24px;
    height: 0%;
    background: #fff;
    padding: 23px;
    margin-bottom: 24px;
    border: 3px solid #eee;
    box-shadow: 0 1px 2px rgb(0 0 0 / 8%);
    border-radius: 8px;
}
.profile_name {
    font-size: 18px;
    line-height: 1.33333333;
    font-weight: 600;
    color: black;
}
.link_display_like_text {
    font-size: 14px;
    line-height: 1.42857143;
    font-weight: 600;
    font-family: "Inter var", sans-serif;
    color: #8a8a8a !important;
}
#location_names {
    line-height: 16px;
}
#location_names a {
    line-height: 22px;
    color: #333;
    font-family: Inter, sans-serif;
    font-weight: 400;
}
.location_link {
    color: rgba(0, 0, 0);
}
.other_detail_item_row {
    flex-wrap: wrap;
    margin-right: 30px;
}
.item_heading {
    font-family: "Inter var", sans-serif;
    vertical-align: bottom;
}
.item_body {
    align-items: center;
    margin-top: 5px;
    margin-left: 3px;
}
.md-dark {
    color: grey;
}
.md-18 {
    font-size: 20px;
}
.md-icon {
    vertical-align: text-bottom;
    margin-right: 5px;
}
.button_container a {
    color: #fa8231;
    font-weight: 500;
    line-height: 1.14285714;
}
.label_container {
    color: gray;
}
 .internships {
    display: flex;
    flex-wrap: wrap;
} 

/*.navbar{
    background: #202020 none repeat scroll top left;
    display:flex;
    flex: 1 1 auto;
    margin-bottom: 30px;
}
.heading{
    color:#fa8231;
    font-weight: 700;
    font-family: 'Inter var',sans-serif;
    margin-left: 100px;
}
.logo{
    width: 60px;
    height: auto;
    margin-left: 20px;
}
.internship{
    margin:auto;
   width:40%;
    margin-top:24px;
    height:0%;
    background: #fff;
    padding: 23px;
    margin-bottom: 24px;
    border: 3px solid #EEE;
    box-shadow: 0 1px 2px rgb(0 0 0 / 8%);
    border-radius: 8px;

}
.individual_internship_header{
display: flex;
    justify-content: flex-start;
}
.profile{
    margin-bottom: 8px;
}
.profile_name{
    font-size: 18px;
    line-height: 1.33333333;
    font-weight: 600;
    color: black;
}
.link_display_like_text{
    font-size: 14px;
    line-height: 1.42857143;
    font-weight: 600;
    font-family: 'Inter var',sans-serif;
    color: #8A8A8A !important;
}
a{
    text-decoration: none;
}
.individual_internship_details{
    margin-bottom: 8px;
    margin-top: 16px;
}
#location_names{
    line-height: 16px;
    display: flex;
    margin-bottom: 24px;
    margin-top:24px;
}
#location_names a{
    line-height: 22px;
    color: #333;
    font-family: Inter,sans-serif;
    font-weight: 400;
}
.location_link{
    color: rgba(0, 0, 0);
}
.internship_other_details_container{
    display:flex;
    justify-content: flex-start;
    margin-top:10px;
}
.other_detail_item_row{
    display:flex;
    flex-wrap: wrap;
    margin-right:30px;
}
.other_detail_item{
    margin-right:40px;
}
.item_heading{    font-family: 'Inter var',sans-serif;
vertical-align: bottom;}
.item_body{
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-left: 3px;
}
.md-dark { color:grey }
.md-18 { font-size: 20px; }
.md-icon{
    vertical-align: bottom;
    margin-right:5px;
}
.button_container{
    display:flex;
    justify-content: space-between;
    margin-top:25px;   
}
.view_detail_button{
    float:right;
    margin-right:10px;
}
.button_container a{
    color:#fa8231;
    font-weight: 500;
    line-height: 1.14285714;
}
.label_container{
    color:gray;
}
.internships{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-evenly; 
}*/